[Unit]
Description=Server to allow my fan to be turned off remotely
After=network-online.target
Wants=network-online.target

# NOTE: Remember to check this file after making changes:
#   sudo ./install.sh; systemd-analyze security fan_remote.service
#
# TODO: Rewrite daemon to operate based on service activation so more network
#       whitelisting is possible

[Service]
Type=simple
ExecStart=/usr/local/bin/fan_remote -p23734 -F2

BindPaths=/dev/ttyS0
BindReadOnlyPaths=/usr/local/bin/fan_remote
CapabilityBoundingSet=
CPUQuota=20%
DevicePolicy=closed
DeviceAllow=/dev/ttyS0
DynamicUser=yes
Environment=
# All irrelevant paths not covered by Private* options that the FHS says we
# should be able to rely on existing (systemd will error out if one doesn't)
InaccessiblePaths=/boot /etc /media /mnt /opt /run /sbin /srv /usr/include /usr/libexec /usr/sbin /usr/share /usr/src /var
IPAddressAllow=192.168.0.0/24
IPAddressDeny=any
KeyringMode=private
LockPersonality=yes
MemoryDenyWriteExecute=yes
MemoryMax=512M
Nice=10
NoNewPrivileges=yes
PassEnvironment=
PrivateDevices=yes
PrivateIPC=yes
ProcSubset=pid
ProtectProc=invisible
PrivateMounts=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
ReadOnlyPaths=/usr/bin/br
ReadOnlyDirectories=/usr
RemoveIPC=yes
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SocketBindAllow=ipv4:tcp:23734
SocketBindDeny=any
SupplementaryGroups=dialout
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
TemporaryFileSystem=/usr/local:ro /usr/local/bin:ro
UMask=0077

[Install]
WantedBy=multi-user.target
